version: 2
jobs:
  build:
    docker:
      - image: cimg/node:17.3.0
    steps:
      - checkout
      - restore_cache:
          key: deps1-{{ .Branch }}-{{ checksum "package.json" }}
      - run:
          command: |
            npm install
      - save_cache:
          key: deps1-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
            - "npm"
      - run:
          name: Running tests
          command: |
            npm run test
      - store_artifacts:
          path: test-reports/
          destination: troops_app